.dialogs {
 display: grid;
 grid-template-columns: 2fr 10fr;
}

.dialogsItems {
 color: #fff;
 padding: 10px;
}

.item {

}

.item.active {
 color: green;
}

.messages {

}

.message {

}

.answerWrapp {
 display: flex;
 flex-direction: column;
}

.answerTextarea {
 width: 400px;
 height: 150px;
 margin-bottom: 15px;
 margin-top: 15px;
}

.answerButton {
 width: max-content;
 margin-bottom: 15px;
}